<app-master>
    <content>
        <div class="p-3">
            <div class="row no-gutters">
                <div class="col-12">
                    <div class="row no-gutters mb-3">
                        <div class="col-12 text-center">
                            <span class="heading-1">
                                How it works?
                            </span>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-1">
                            <span class="badge badge-pill badge-dark mr-3 heading-2">1</span>
                        </div>
                        <div class="col-11 point">
                            <span>Complete your education and working experience.</span>
                            <p class="text-secondary text-small">You must tell us about your complete education and
                                working experience.</p>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-1">
                            <span class="badge badge-pill badge-dark mr-3 heading-2">2</span>
                        </div>
                        <div class="col-11 point">
                            <span>Follow our pre-screening test.</span>
                            <p class="text-secondary text-small">Talentia will do pre-screening test to all of the
                                talent so then this test will be use to attract potential employer to hire the talent.
                            </p>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-1">
                            <span class="badge badge-pill badge-dark mr-3 heading-2">3</span>
                        </div>
                        <div class="col-11 point">
                            <span>Wait for employers compete to hire you!
                            </span>
                            <p class="text-secondary text-small">After all the pre-screening test done, you can sit
                                back, improve your skills and wait for bids from employer.</p>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-12">
                            <button type="button" class="btn btn-primary btn-lg" (click)="ToTalentBid()">Pelajari Lebih
                                Lanjut</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </content>
</app-master>