<app-master>
  <content>
    <div class="p-3">
      <div class="row mb-3">
        <div class="col-md-4">
          <div class="card talent-card">
            <div class="card-img-top text-center w-100">
              <img class="talent-picture" src="shared-assets/images/Ellipse-full.png">
            </div>
            <div class="card-body">
              <p class="card-title talent-name text-center">Talent A</p>
              <p class="talent-title m-1 text-center">Backend Developer</p>
              <p class="text-primary text-center">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </p>
              <p class="card-text talent-skills-header mb-0">Skills</p>
              <p class="talent-skills">Java, Spring-boot, SQL, noSQL</p>
              <div class="row">
                <div class="col-sm-6 text-center">
                  <a href="#" class="btn btn-outline-primary btn-block" data-toggle="modal"
                    data-target="#exampleModal">Detail</a>
                </div>
                <div class="col-sm-6 text-center">
                  <a href="#" class="btn btn-primary btn-block">Bid</a>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card talent-card">
            <div class="card-img-top text-center w-100">
              <img class="talent-picture" src="shared-assets/images/Ellipse2-full.png">
            </div>
            <div class="card-body">
              <p class="card-title talent-name text-center">Talent B</p>
              <p class="talent-title m-1 text-center">Backend Developer</p>
              <p class="text-primary text-center">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="far fa-star"></i>
              </p>
              <p class="card-text talent-skills-header mb-0">Skills</p>
              <p class="talent-skills">Go, SQL, noSQL, Kafka, Hazelcast</p>
              <div class="row no-gutters">
                <div class="col-sm-6 d-flex align-items-end">
                  <a href="#" class="btn btn-outline-primary mw-btn">Detail</a>
                </div>
                <div class="col-sm-6 text-right d-flex align-items-end">
                  <a href="#" class="btn btn-primary mw-btn">Bid</a>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card talent-card">
            <div class="card-img-top text-center w-100">
              <img class="talent-picture" src="shared-assets/images/Ellipse3-full.png">
            </div>
            <div class="card-body">
              <p class="card-title talent-name text-center">Talent C</p>
              <p class="talent-title m-1 text-center">Frontend Developer</p>
              <p class="text-primary text-center">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </p>
              <p class="card-text talent-skills-header mb-0">Skills</p>
              <p class="talent-skills">Javascript, Angular, Redis, Bootstrap</p>
              <div class="row no-gutters">
                <div class="col-sm-6 d-flex align-items-end">
                  <a href="#" class="btn btn-outline-primary mw-btn">Detail</a>
                </div>
                <div class="col-sm-6 text-right d-flex align-items-end">
                  <a href="#" class="btn btn-primary mw-btn">Bid</a>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="card talent-card w-95 h-auto">
            <div class="card-body">
              <p class="card-title heading-2">Maaf, talentia masih dalam pembangunan..</p>
              <p class="card-text mb-0 text-secondary mb-3">
                Kami sedang bekerja keras untuk memastikan talentia dapat berjalan dengan baik.
                Pembangunan platform ini berjalan dengan baik dan akan siap untuk membantu proses
                rekrutmen perusahaan Anda secepatnya. Jika Anda bersedia untuk bekerja sama dengan talentia
                dan memberikan impresi terhadap talentia, silakan klik tombol di bawah ini
              </p>
              <a (click)="ToEmployerSurvey()" class="btn btn-primary">Daftarkan perusahaan Anda</a>
            </div>
          </div>
        </div>

      </div>
    </div>

  </content>
</app-master>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row no-gutters">
          <div class="col-sm-3">
            <div class="text-center w-100">
              <img class="talent-picture" src="shared-assets/images/Ellipse-full.png">
            </div>
            <div class="card-body">
              <p class="card-title talent-name text-center">Talent A</p>
              <p class="talent-title m-1 text-center">Backend Developer</p>
              <p class="text-primary text-center">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </p>
            </div>

          </div>
          <div class="col-sm-9">
            <div class="row no-gutters mb-2">
              <div class="col-sm-12">
                <img class="w-100" src="shared-assets/images/player.png">
              </div>
            </div>
            <div class="row no-gutters w-100">
              <div class="row no-gutters w-100">
                <div class="col-sm-6">
                  <p class="modal-skill mb-0">Total Experience</p>
                  <p class="modal-skill text-secondary">2 years</p>
                </div>
                <div class="col-sm-6">
                  <p class="modal-skill mb-0">Expected Salary</p>
                  <p class="modal-skill text-secondary">IDR 10,000,000 </p>
                </div>
              </div>
              <div class="row no-gutters w-100">
                <div class="col-sm-6">
                  <p class="modal-skill mb-0">Technology Stack</p>
                  <p class="modal-skill text-secondary">Java, Spring-boot, SQL, NoSQL</p>
                </div>
                <div class="col-sm-6">
                  <p class="modal-skill mb-0">Test Score</p>
                  <p class="modal-skill text-secondary">80/100 </p>
                </div>
              </div>
              <div class="row no-gutters w-100">
                <div class="col-sm-6">
                  <p class="modal-skill mb-0">Desired Environment</p>
                  <p class="modal-skill text-secondary">Flexible time, Transparent</p>
                </div>
                <div class="col-sm-6">
                  <p class="modal-skill mb-0">Overall</p>
                  <p class="modal-skill text-secondary">B Class </p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-primary btn-lg">Bid</button>
      </div>
    </div>
  </div>
</div>