<app-master>
    <content>
        <div class="p-3">
            <div class="row no-gutters">
                <div class="col-22">
                    <div class="row no-gutters mb-3">
                        <div class="col-22 text-center">
                            <span class="heading-1">
                                Bagaimana Caranya?
                            </span>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-2">
                            <span class="badge badge-pill badge-dark mr-3 heading-2">1</span> 
                        </div>
                        <div class="col-10 heading-2">
                            <span>Lengkapi informasi pengalaman kerja kamu</span>
                            <p class="text-secondary text-small">Kamu wajib mengisi informasi mengenai pengalaman kerja dan pendidikan serta informasi lainnya</p>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-2">
                            <span class="badge badge-pill badge-dark mr-3 heading-2">2</span> 
                        </div>
                        <div class="col-10 heading-2">
                            <span>Kamu mengikuti proses penyaringan oleh talentia.</span>
                            <p class="text-secondary text-small">Talentia akan malakukan proses penyaringan kepada setiap kandidat yang ingin dipublikasikan kepada 
                                calon perusahaan yang menginginkan jasa kamu berdasarkan hasil tes yang telah kamu lalui.</p>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-2">
                            <span class="badge badge-pill badge-dark mr-3 heading-2">3</span> 
                        </div>
                        <div class="col-10 heading-2">
                            <span>Talentia memiliki standarisasi terhadap kemampuan yang harus dimiliki oleh kandidat. </span>
                            <p class="text-secondary text-small">Talentia memiliki standarisasi terhadap kemampuan yang harus dimiliki oleh kandidat. </p>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-22">
                            <button type="button" class="btn btn-primary btn-lg" (click)="ToTalentBid()">Tertarik? Ketahui lebih lanjut</button>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
        
    </content>
</app-master>