.header-rect{
    position: relative;
    background-color: #BDBDBD;
    width: 100%;
    height: 10vh;
    .logo{
        display: flex;
        height: 100%;
        width: 50%;
        align-items: center;
        justify-content: center;
        a{
            img{
                width:30%;
            } 
        }      
    }
    .lang{
        position: absolute;
        right: 10vh;
        top: 4vh;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        display: flex;
        align-items: center;
        text-align: center;
        text-decoration-line: underline;
    }
}