.header-rect{
    background-color: #BDBDBD;
    width: 100%;
    height: 10vh;
    .logo{
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        a{
            width: 30%;
            img{
                width:100%;
            } 
        }      
    }
    .lang{
        height: 100%;
        font-size: 1.25rem;
        line-height: 1.438rem;
        display: flex;
        justify-content :flex-end;
        align-items: center;
        text-decoration-line: underline;
    }
}


@media screen and (max-width: 640px){
    .header-rect{
        .logo{
            a{
                width: 80%;
                img{
                    width:100%;
                } 
            }      
        }
        .lang{
            font-size: 1rem;
        }
    }
    
}