<app-master>
    <content>
        <div class="p-3">
            <div class="row no-gutters">
                <div class="col-12">
                    <div class="row no-gutters mb-3">
                        <div class="col-12 text-center">
                            <span class="heading-1">
                                Bagaimana Caranya?
                            </span>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-1">
                            <span class="badge badge-pill badge-dark mr-3 heading-2">1</span> 
                        </div>
                        <div class="col-11 point">
                            <span>Talentia menyediakan katalog berisi IT talent terbaik.</span>
                            <p class="text-secondary text-small">Anda dapat mencari dan menyesuaikan IT talent terbaik sesuai dengan kebutuhan perusahaan Anda </p>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-1">
                            <span class="badge badge-pill badge-dark mr-3 heading-2">2</span> 
                        </div>
                        <div class="col-11 point">
                            <span>Talentia melalukan penyaringan awal kandidat.</span>
                            <p class="text-secondary text-small">Talentia melakukan penyaringan awal, sehingga kandidat yang kami muat 
                                di platform talentia sudah tersaring dari segi sikap dan kemampuan teknikal</p>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-1">
                            <span class="badge badge-pill badge-dark mr-3 heading-2">3</span> 
                        </div>
                        <div class="col-11 point">
                            <span>Talentia menyetarakan tingkat kemampuan kandidat. </span>
                            <p class="text-secondary text-small">Talentia memiliki standarisasi terhadap kemampuan yang harus dimiliki oleh kandidat. </p>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-1">
                            <span class="badge badge-pill badge-dark mr-3 heading-2">4</span> 
                        </div>
                        <div class="col-11 point">
                            <span>Anda dapat memilih kandidat sesuai kriteria yang dicari.</span>
                            <p class="text-secondary text-small">Platform kami akan membantu Anda untuk mencari, menyaring, dan mengurutkan 
                                kandidat yang cocok untuk Anda </p>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-12">
                            <!--<a class="btn btn-primary btn-lg" [routerLink]="['/for-employer/showcase']">Pelajari Lebih Lanjut</a>-->
                            <button type="button" class="btn btn-primary btn-lg" (click)="ToShowcase()">Pelajari Lebih Lanjut</button> 
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
        
    </content>
</app-master>