.subtitle{
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    color: #0066FF;
}

@media screen and (max-width:1200px){
    .subtitle{
        line-height: 1.5rem;
    }
}

@media screen and (max-width: 640px){
    .subtitle{
        margin:1rem;
    }
   .action{
       display: block;
       width: 100%;
   }
}
