.talent-card{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 0.625rem;
    font-size: 1.125rem;
    line-height: 1.313rem;
    height:25rem;
    width :100%;

    .talent-name{
        font-size: 1.125rem;
        line-height: 1.313rem;
    }
    .talent-title{
        text-align: center;
        font-style: normal;
        font-weight: normal;
    }
    .talent-skills-header{
        text-align: left;
        font-style: normal;
        font-weight: bold;
    }
    .talent-skills{
        word-break: break-word;
        text-align: left;
        font-style: normal;
        font-weight: normal;
    }
}
/* modal */
.modal-dialog{
    min-width: 50rem;
    width: auto;
}
.modal-content{
    background: #FFFFFF;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}
.modal-skill{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}

.talent-picture{
    border-radius: 50%;
    width: 50%;
}

.w-95{
    width: 95%;
}
.mw-btn{
    width: 80%;
}

@media screen and (max-width: 1200px){
    .talent-card{
        height: 25rem ;
    }
}

@media screen and (max-width: 770px){
    .talent-card{
        height: 30rem ;
    }
    .modal-dialog{

        font-size: 0.825rem;
        min-width: 30rem;
        width: auto;
    }
    .modal-skill{
        font-size: 1rem;
    }
}

