body{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1rem;
    margin:0;
    width: 100%;
    height: 100%;
    color: #000000;
}

.heading-1{
    font-size: 3rem;
        line-height: 3.5rem;
}
.heading-2{
    font-size: 2.25rem;
    line-height: 2.625rem;
}

.text-small{
    font-size: 1.25rem;
}

.p-detail{
    font-style: normal;
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 1.313rem;
}
@media screen and (max-width: 1200px){
    .heading-1{
        font-size: 2rem;
            line-height: 1.75rem;
    }
    .heading-2{
        font-size: 1.25rem;
        line-height: 1.313rem;
    }
    .text-small{
        font-size: 0.825rem
    }
}


@media screen and (max-width:400px){
    .heading-1{
        font-size: 2rem;
            line-height: 1.75rem;
    }
    .heading-2{
        font-size: 1.25rem;
        line-height: 1.313rem;
    }
    .text-small{
        font-size: 0.825rem
    }
}