<app-master>
    <content>
        <div class="p-3">
            <div class="row no-gutters">
                <div class="col-12">
                    <div class="row no-gutters mb-3">
                        <div class="col-12 text-center">
                            <span class="heading-1">
                                How?
                            </span>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-1">
                            <span class="badge badge-pill badge-dark mr-3 heading-2">1</span> 
                        </div>
                        <div class="col-11 point">
                            <span>Talentia provide the best IT talent catalog</span>
                            <p class="text-secondary text-small">Anda dapat mencari dan menyesuaikan IT talent terbaik sesuai dengan kebutuhan perusahaan Anda </p>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-1">
                            <span class="badge badge-pill badge-dark mr-3 heading-2">2</span> 
                        </div>
                        <div class="col-11 point">
                            <span>Talentia do pre-screen test</span>
                            <p class="text-secondary text-small">Talentia do pre-screen test, so that each candidate that we publish is attitude 
                                and technical skill proven</p>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-1">
                            <span class="badge badge-pill badge-dark mr-3 heading-2">3</span> 
                        </div>
                        <div class="col-11 point">
                            <span>Talentia standardized technical skills level</span>
                            <p class="text-secondary text-small">Taletia has a standarization of skills that every candiate must have.</p>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-1">
                            <span class="badge badge-pill badge-dark mr-3 heading-2">4</span> 
                        </div>
                        <div class="col-11 point">
                            <span>You can choose your candidate as your criteria</span>
                            <p class="text-secondary text-small">Our platform help you to do search, filter, and sort candidate that meets your criteria</p>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-12">
                            <!--<a class="btn btn-primary btn-lg" [routerLink]="['/for-employer/showcase']">Pelajari Lebih Lanjut</a>-->
                            <button type="button" class="btn btn-primary btn-lg" (click)="ToShowcase()">Learn more</button> 
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
        
    </content>
</app-master>