<app-master>
    <content>
        <div class="p-3">
            <div class="row no-gutters">
                <div class="col-12">
                    <div class="row no-gutters mb-3">
                        <div class="col-12 text-center">
                            <span class="heading-1">
                                How?
                            </span>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-2">
                            <span class="badge badge-pill badge-dark heading-2">1</span> 
                        </div>
                        <div class="col-10 heading-2">
                            <span>Talentia provide the best IT talent catalog</span>
                            <p class="text-secondary text-small">You can find and match the best IT talents based on your company needs</p>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-2">
                            <span class="badge badge-pill badge-dark heading-2">2</span> 
                        </div>
                        <div class="col-10 heading-2">
                            <span>Talentia do pre-screen test</span>
                            <p class="text-secondary text-small">Talentia do pre-screen test, so that each candidate that we publish is attitude 
                                and technical skill proven</p>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-2">
                            <span class="badge badge-pill badge-dark heading-2">3</span> 
                        </div>
                        <div class="col-10 heading-2">
                            <span>Talentia standardized technical skills level</span>
                            <p class="text-secondary text-small">Taletia has a standarization of skills that every candiate must have.</p>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-2">
                            <span class="badge badge-pill badge-dark heading-2">4</span> 
                        </div>
                        <div class="col-10 heading-2">
                            <span>You can choose your candidate as your criteria</span>
                            <p class="text-secondary text-small">Our platform help you to do search, filter, and sort candidate that meets your criteria</p>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-12">
                            <button type="button" class="btn btn-primary btn-lg action" (click)="ToSurvey()">Interested? Know more about us...</button> 
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
        
    </content>
</app-master>